.gradient-custom-2 {

  color: #000;
    /* fallback for old browsers */
    background: #43e97b;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5))

  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #sombreado{
    box-shadow: 10px 5px 40px 3px black;
  }