{% extends 'BASE/base.html'%}
{% load static %}
{% block title%}Gestión | Clientes{%endblock%}
{% block content %}
<link href="{% static 'css/registroClientes.css' %}" rel="stylesheet" type="text/css" />
<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- ==== Toggle button start === -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menú</small></button>
    <!-- ==== Toggle button end === -->
    <!-- ===================================== Seccion Contenedor Inicio ======================================== -->
    <div class="container" id="advanced-search-form">
        <h2 >Registrar Cliente</h2>
        <form action="{%url 'agregarClientes' %}" method="POST" >
            {% csrf_token %}
            <!-- 2 column -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Nombre del Cliente</label>
                        <input type="text" name="txtNombreCliente" id="txtNombreCliente" class="form-control" maxlength="50" required/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Teléfono</label>
                        <input type="text" name="txtTelefonoCliente" id="txtTelefonoCliente" class="form-control" maxlength="10" onkeypress="return validarNumero(event)"/>
                    </div>
                </div>
            </div>
            <!-- 2 column  -->
            <!-- 2 column -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Nit</label>
                        <input type="text" name="txtNitCliente" id="txtNitCliente" class="form-control" maxlength="15" required/>
                    </div> 
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Email</label>
                        <input type="email" name="txtEmailCliente" id="txtEmailCliente" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- 2 column  -->
            <!-- 2 column -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Dirección</label>
                        <input type="text" name="txtDireCliente" id="txtDireCliente" class="form-control" maxlength="100"/>
                    </div>
                </div>
            </div>
            <!-- 2 column  -->


            <div class="clearfix"></div>
            <div class="row">
                <a href="{%url 'gestionClientes' %}" class="btn btn-info btn-lg btn-responsive"> <span
                    class="glyphicon glyphicon-search"></span>Cancelar</a>
                <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span
                        class="glyphicon glyphicon-search"></span>Guardar</button>

            </div>

        </form>
    </div>

</div>
</body>

</html>
{%endblock%}